@using Oqtane.Modules.Controls
@using Gearment.Timesheet.Services
@using Gearment.Timesheet.Models

@namespace Gearment.Timesheet
@inherits ModuleBase
@inject ITimesheetService TimesheetService
@inject NavigationManager NavigationManager

<table class="table table-borderless">
    <tr>
        <td>
            <Label For="name" HelpText="Enter a name">Name: </Label>
        </td>
        <td>
            <input id="name" class="form-control" @bind="@_name" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage Timesheet";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    int _id;
    string _name;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                Timesheet Timesheet = await TimesheetService.GetTimesheetAsync(_id, ModuleState.ModuleId);
                if (Timesheet != null)
                {
                    _name = Timesheet.FirstName;
                    _createdby = Timesheet.CreatedBy;
                    _createdon = Timesheet.CreatedOn;
                    _modifiedby = Timesheet.ModifiedBy;
                    _modifiedon = Timesheet.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Timesheet {TimesheetId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading Timesheet", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                Timesheet Timesheet = new Timesheet();
                Timesheet.ModuleId = ModuleState.ModuleId;
                Timesheet.FirstName = _name;
                Timesheet = await TimesheetService.AddTimesheetAsync(Timesheet);
                await logger.LogInformation("Timesheet Added {Timesheet}", Timesheet);
            }
            else
            {
                Timesheet Timesheet = await TimesheetService.GetTimesheetAsync(_id, ModuleState.ModuleId);
                Timesheet.FirstName = _name;
                await TimesheetService.UpdateTimesheetAsync(Timesheet);
                await logger.LogInformation("Timesheet Updated {Timesheet}", Timesheet);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Timesheet {Error}", ex.Message);
            AddModuleMessage("Error Saving Timesheet", MessageType.Error);
        }
    }
}
