@namespace Gearment.Timesheet
@using Gearment.Timesheet.Services
@using Gearment.Employee.Services
@using Gearment.Timesheet.Models
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Gearment.Department.Models

@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject ITimesheetService TimesheetService
@inject IFileService FileService
@inject IFolderService FolderService
@inject IEmployeeService EmployeeService

<SfTab CssClass="BlazorTab" LoadOn="ContentLoad.Demand">
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="New Payroll"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <br />
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <div class="input-group">
                            <SfDatePicker Width="100%" Placeholder="From Date" @bind-Value="@_fromDate" FloatLabelType="FloatLabelType.Auto"></SfDatePicker>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <div class="input-group">
                            <SfDatePicker Width="100%" Placeholder="To Date" @bind-Value="@_toDate" FloatLabelType="FloatLabelType.Auto"></SfDatePicker>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <SfDropDownList TValue="string" TItem="DepartmentViewModel" Placeholder="Filter by department" DataSource="@departmentListFilter">
                            <DropDownListEvents ValueChange="@FilterChange" TValue="string" TItem="DepartmentViewModel"></DropDownListEvents>
                            <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <br />
                <SfButton OnClick="Create" class="btn btn-primary" Content="Create"></SfButton>
                <SfButton OnClick="Export" class="btn btn-secondary" Content="Export"></SfButton>
                <br /><br />
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="alert alert-primary" role="alert">
                            Total Payment Amount <a href="#" class="alert-link"> $@_TotalAmount</a>
                        </div>
                    </div>
                </div>                
                <div class="form-group row">
                    <SfGrid DataSource="@payrollList" @ref="@Grid" AllowPaging="true" AllowExcelExport="true" AllowPdfExport="true" AllowSorting="true" Toolbar="Toolbaritems">
                        <GridPageSettings PageSizes="new int[] { 5, 10, 50, 100 }"></GridPageSettings>
                        @*<GridEvents TValue="TimesheetDataExcelExport" RowDataBound="RowBound"></GridEvents>*@
                    <GridColumns>
                        <GridColumn Field=@nameof(PayrollViewModel.Name) HeaderText="Name" TextAlign="TextAlign.Left" AutoFit="true"></GridColumn>
                        <GridColumn Field=@nameof(PayrollViewModel.Rate) Format="C2" HeaderText="Rate" TextAlign="TextAlign.Left" AutoFit="true"></GridColumn>
                        <GridColumn Field=@nameof(PayrollViewModel.TotalWorkingHours) HeaderText="Hours" TextAlign="TextAlign.Left" AutoFit="true"></GridColumn>
                        <GridColumn HeaderText="Detail" TextAlign="TextAlign.Left">
                            <Template>
                                @{ var timesheetData = (context as PayrollViewModel);
                                    @*<button data-toggle="collapse" class="btn btn-info" data-target="#@timesheetData.Id" aria-expanded="false" aria-controls="@timesheetData.Id">View Detail</button>*@
                                    <br />
                                    <div>
                                        <div class="card card-body">
                                            <table class="table table-striped detailtable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Start</th>
                                                        <th scope="col">End</th>
                                                        <th scope="col">Hours</th>
                                                        <th scope="col">Payment Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in timesheetData.WorkingDates)
                                                    {
                                                        <tr>
                                                            <td>@item[0]</td>
                                                            <td>@item[1]</td>
                                                            <td>@item[2]</td>
                                                            <td>@item[3]</td>
                                                            <td>$@item[4]</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(PayrollViewModel.TotalPay) HeaderText="Total Pay" Format="C2" TextAlign="TextAlign.Left" AutoFit="true"></GridColumn>
                    </GridColumns>
                    </SfGrid>
                </div>
            </ContentTemplate>
        </TabItem>

        <TabItem>
            <ChildContent>
                <TabHeader Text="Payroll History"></TabHeader>
            </ChildContent>
            <ContentTemplate>

            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>
<style>
    tr.collapse.in {
        display: table-row;
    }
</style>


@code { public override List<Resource> Resources => new List<Resource>()
{
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" },
        new Resource { ResourceType = ResourceType.Script, Url = ModulePath() + "Module.js" }
    };

    List<TimesheetData> _Timesheets;

    private SfGrid<PayrollViewModel> Grid;
    private int _folderId = 1;
    private List<Object> Toolbaritems = new List<Object>() { "Search", "Print" };

    private bool ImportExcelDialogEnable { get; set; } = false;
    List<TimesheetDataExcelExport> exportData = new List<TimesheetDataExcelExport>();

    List<DepartmentViewModel> departmentListFilter = new List<DepartmentViewModel>() { new DepartmentViewModel() { DepartmentId = 0, Name = "All" } };
    List<PayrollViewModel> payrollList = new List<PayrollViewModel>();

    DateTime _fromDate = DateTime.Now;
    DateTime _toDate = DateTime.Now;
    string _department = "All";

    double _TotalAmount = 0;


    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Admin;

    protected override async Task OnInitializedAsync()
    {
        departmentListFilter = await EmployeeService.GetDepartmentsAsync(ModuleState.ModuleId);
    }

    private async Task Delete(int TimesheetDataId)
    {
        try
        {
            await TimesheetService.DeleteTimesheetAsync(TimesheetDataId, ModuleState.ModuleId);
            await logger.LogInformation("Timesheet Deleted {Timesheet}", TimesheetDataId);
            //_Timesheets = await TimesheetService.GetTimesheetsAsync(ModuleState.ModuleId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting Timesheet {Timesheet} {Error}", TimesheetDataId, ex.Message);
            AddModuleMessage("Error Deleting Timesheet", MessageType.Error);
        }
    }

    private async Task FilterChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DepartmentViewModel> args)
    {
        _department = args.Value;
    }

    private async Task Export()
    {
        if (!payrollList.Any())
        {
            return;
        }

        ExcelExportProperties ExcelProperties = new ExcelExportProperties();
        ExcelProperties.DataSource = payrollList;

        var columns = new List<GridColumn>();

        columns.Add(new GridColumn() { Field = "Name" });
        columns.Add(new GridColumn() { Field = "Rate" });
        columns.Add(new GridColumn() { Field = "TotalWorkingHours" });
        columns.Add(new GridColumn() { Field = "TotalPay" });


        ExcelProperties.Columns = columns;
        ExcelProperties.FileName = "DailySummary.xlsx";

        await this.Grid.ExcelExport(ExcelProperties);
    }

    private async Task Create()
    {
        if (DateTime.Compare(_fromDate, _toDate) > 0)
        {
            AddModuleMessage("Invalid Date Range", MessageType.Error);
            return;
        }

        _TotalAmount = 0;
        payrollList.Clear();

        TimesheetDailyQuery timesheetDailyQuery = new TimesheetDailyQuery();
        timesheetDailyQuery.FromDate = _fromDate;
        timesheetDailyQuery.ToDate = _toDate;
        timesheetDailyQuery.Department = _department;
        timesheetDailyQuery.EmployeeName = string.Empty;

        _Timesheets = await TimesheetService.GetTimesheetDataByDateAsync(ModuleState.ModuleId, timesheetDailyQuery);

        foreach (var item in _Timesheets)
        {
            TimesheetDataExcelExport row = new TimesheetDataExcelExport();
            row.Name = item.FirstName + " " + item.LastName;
            row.PayrollID = item.PayrollID;
            row.DayOfWeek = item.DayOfWeek;
            row.Date = item.Date;
            row.DailyStartTime = item.DailyStartTime.ToString("hh:mm tt");
            row.DailyEndTime = item.DailyEndTime.ToString("hh:mm tt");
            row.BreakStartTime = item.BreakStartTime.ToString("hh:mm tt");
            row.BreakEndTime = item.BreakEndTime.ToString("hh:mm tt");
            row.TotalRestHour = item.TotalRestHour;
            row.TotalWorkingHour = item.TotalWorkingHour;
            row.TotalPay = item.Rate * item.TotalWorkingHour;

            if (!payrollList.Any(x => x.Name == row.Name))
            {
                PayrollViewModel payroll = new PayrollViewModel();
                payroll.Name = row.Name;
                payroll.Rate = item.Rate;
                payroll.Id = Guid.NewGuid().ToString();
                payroll.WorkingDates = new List<string[]>();
                payroll.WorkingDates.Add(new string[] { row.Date, row.DailyStartTime, row.DailyEndTime, row.TotalWorkingHour.ToString(), row.TotalPay.ToString() });
                payroll.TotalPay = row.TotalPay;
                payroll.TotalWorkingHours = row.TotalWorkingHour;
                payrollList.Add(payroll);
            }
            else
            {
                PayrollViewModel payroll = payrollList.FirstOrDefault(x => x.Name == row.Name);
                payroll.WorkingDates.Add(new string[] { row.Date, row.DailyStartTime, row.DailyEndTime, row.TotalWorkingHour.ToString(), row.TotalPay.ToString() });
                payroll.TotalPay += row.TotalPay;
                payroll.TotalWorkingHours += row.TotalWorkingHour;
            }
        }

        _TotalAmount = payrollList.Sum(x => x.TotalPay);

        Grid.Refresh();
    }
}

