@namespace Gearment.Timesheet
@using Gearment.Timesheet.Services
@using Gearment.Timesheet.Models
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject ITimesheetService TimesheetService
@inject IFileService FileService
@inject IFolderService FolderService


<table class="table table-borderless">
    <tr>
        <td>
            <Label For="upload" HelpText="Upload the file you want" ResourceKey="Upload">Upload: </Label>
        </td>
        <td>
            <FileManager UploadMultiple="true" ShowFolders="false" ShowFiles="false" FolderId="@_folderId" Filter="csv,xls,xlsx" OnUploadCompleted="GetFiles" />
        </td>
    </tr>
</table>
<SfGrid DataSource="@_files" AllowPaging="true" AllowSorting="true">
    <GridColumns>
        <GridColumn Field=@nameof(File.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="120"></GridColumn>
        <GridColumn Field=@nameof(File.FileId) HeaderText="ID" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(File.FolderId) HeaderText="Folder ID" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(File.CreatedOn) HeaderText="Date" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn HeaderText="Actions" TextAlign="TextAlign.Left" Width="120">
            <Template>
                @{ var file = (context as File);
                    <td><ActionDialog Header="Delete File" Message="@("Are You Sure You Wish To Delete The " + file.Name + " Timesheet?")" Action="Delete" Security="SecurityAccessLevel.Admin" Class="btn btn-danger" OnClick="@(async () => await DeleteFile(file))" ResourceKey="DeleteFile" /></td>
                    <td><button class="btn btn-info" @onclick="@(async () => await ProcessFile(file))">Process</button></td>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>
<br />
<br />

<Label>New Employee Info Counts: @_rowCount</Label>
<br />
<br />

<SfGrid DataSource="@_MissingEmployee" AllowPaging="true" AllowSorting="true">
    <GridColumns>
        <GridColumn Field=@nameof(Employee.Models.Employee.Name) HeaderText="Name" TextAlign="TextAlign.Left" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Employee.Models.Employee.PayrollID) HeaderText="Payroll ID" TextAlign="TextAlign.Left" Width="100"></GridColumn>        
    </GridColumns>
</SfGrid>
<br />
<br />
<Label>Row Counts: @_rowCount</Label>
<br />
<br />

<SfGrid DataSource="@_Timesheets" AllowPaging="true" AllowSorting="true">
    <GridColumns>
        <GridColumn Field=@nameof(Timesheet.FirstName) HeaderText="First Name" TextAlign="TextAlign.Left" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.LastName) HeaderText="Last Name" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.PayRollID) HeaderText="Payroll ID" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.DayOfWeek) HeaderText="Date Of Week" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.Date) HeaderText="Date" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.In) HeaderText="In" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.Out) HeaderText="Out" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.Hours) HeaderText="Hours" TextAlign="TextAlign.Left" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Timesheet.Type) HeaderText="Type" TextAlign="TextAlign.Left" Width="100"></GridColumn>
    </GridColumns>
</SfGrid>

<br />
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>

@code { 
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.View;

    private string url = string.Empty;
    private int _folderId = -1;
    private List<File> _files { get; set; }
    List<string> _fileType = new List<string>() { "csv", "xls", "xlsx" };

    private List<Timesheet> _Timesheets { get; set; }
    private List<Employee.Models.Employee> _MissingEmployee { get; set; }

    private int _rowCount = 0;
    private int _missingCount = 0;

    protected override async Task OnInitializedAsync()
    {
        ShowProgressIndicator();
        if (PageState.QueryString.ContainsKey("id"))
        {
            _folderId = int.Parse(PageState.QueryString["id"]);


            await GetFiles();
        }

    }

    private async Task GetFiles()
    {
        _files = await FileService.GetFilesAsync(_folderId);
        _files = _files.FindAll(x => _fileType.Contains(x.Extension));

        HideProgressIndicator();
    }

    private async Task DeleteFile(File file)
    {
        try
        {
            await FileService.DeleteFileAsync(file.FileId);
            await logger.LogInformation("File Deleted {File}", file.Name);
            AddModuleMessage("File " + file.Name + " Deleted", MessageType.Success);
            await GetFiles();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting File {File} {Error}", file.Name, ex.Message);
            AddModuleMessage("File " + file.Name + " Deleted", MessageType.Error);
        }
    }

    private async Task ProcessFile(File file)
    {
        ShowProgressIndicator();

        try
        {
            var result = await TimesheetService.ProcessFileAsync(ModuleState.ModuleId, file.FileId);
            _Timesheets = result.TimesheetList;
            _MissingEmployee = result.MissingEmployee;

            _missingCount = _MissingEmployee.Count();
            _rowCount = _Timesheets.Count();

            await logger.LogInformation("File Processed {File}", file.Name);
            AddModuleMessage("File " + file.Name + " Processed. Total " + _rowCount + " Rows Imported", MessageType.Success);

            await GetFiles();
            StateHasChanged();
            HideProgressIndicator();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Process File {File} {Error}", file.Name, ex.Message);
            AddModuleMessage("File " + file.Name + " Processed", MessageType.Error);
        }
    }

}
